.layout {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../assets/buildings.jpg) center no-repeat;
}

.container-body {
    overflow: auto;
    background: #fffffff0;
    height: 100%;
    padding: 70px 2.5rem 0 2rem;
}
